{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
    {% trans "Summary" %}
{% endblock %}

{% block content %}

    <p>
        {% blocktrans with question=CF_period_selected_for_pay %}
        This is your choice at question {{ question }} that has been selected.
        The player you've selected put
        {% endblocktrans %}
        {% if CF_choose_cooperator %}
            {{Constants.endowment}} {% trans "tokens" %}
        {% else %}
            {% trans "0 token" %}
        {% endif %}
        {% trans "in the collective account." %}
        {% trans "Your payoff is equal to " %} {{ player.CF_payoff }}.
    </p>

    {% next_button %}

{% endblock %}


